.root {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 12px;
}
.root:hover {
  box-shadow: 0px 4px 16px 0px #00000033;
}
.link__h8Asd {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px transparent;
  cursor: pointer;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
  border: 1px solid #c9cee0;
}
.link__h8Asd > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.link__h8Asd > :global(.__wab_flex-container) > *,
.link__h8Asd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__h8Asd > :global(.__wab_flex-container) > picture > img,
.link__h8Asd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.svg__xt0V2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 42px;
  height: 42px;
  color: #fbda3c;
  flex-shrink: 0;
}
.h5__cAdKg {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  min-width: 0;
}
.freeBox__mcgrt {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__dTpuR {
  width: auto;
  color: #626e99;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
}
.svg__s3YMw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #626e99;
  flex-shrink: 0;
}
